<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.icenerd.giftv">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name=".SetupActivity"
            android:banner="@drawable/giftv_tv_banner"
            android:icon="@drawable/giftv_tv_banner"
            android:label="@string/app_name"
            android:logo="@drawable/giftv_tv_banner"
            android:screenOrientation="landscape"
            android:hardwareAccelerated="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                      android:host="www.icenerd.com"
                      android:pathPrefix="/giftv" />
            </intent-filter>
        </activity>
        <activity android:name=".GifTVActivity"
            android:banner="@drawable/giftv_tv_banner"
            android:icon="@drawable/giftv_tv_banner"
            android:label="@string/app_name"
            android:logo="@drawable/giftv_tv_banner"
            android:screenOrientation="landscape"
            android:hardwareAccelerated="true"/>
        <service
            android:name=".net.DataService"
            android:label="GIFTV TCP Service"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
    </application>
</manifest>